@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Hack', monospace;
    font-size: 18px;
    @apply text-notblack;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.dagrid {
    grid-template-rows: masonry;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

@media (max-width: 800px) {
    .dagrid {
        grid-auto-rows: repeat(auto-fit, auto);
        grid-template-columns: repeat(2, auto);
    }
}
