@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* font-family: 'Hack', monospace; */
    font-size: 16px;
    @apply text-notblack;
}

body {
    @apply bg-white text-notblack dark:bg-notblack dark:text-white;
}

header {
    font-family: 'Hack', monospace;
    font-size: 18px;
}

.prose {
    font-size: 16px;
}

.prose h1 {
    font-size: 1em;
}

.prose h2 {
    font-size: 1.2em;
    font-weight: bold;
    @apply border-b border-gray-300 pb-1 mt-4 first:mt-0;
}

.link {
    @apply text-blue-500 hover:text-blue-700 hover:underline;
}
